[Unit]
Description=zram-config-start
DefaultDependencies=no
Before=systemd-journal-flush.service
After=local-fs.target


[Service]
Type=oneshot
ExecStart=/usr/local/bin/zram-config start
TimeoutSec=120

[Install]
WantedBy=sysinit.target

