[Unit]
Description=zram-config
After=local-fs.target
Before=reboot.target halt.target shutdown.target poweroff.target

[Service]
Type=simple
TimeoutStartSec=300
TimeoutStopSec=1800
RemainAfterExit=yes
ExecStart=/usr/local/sbin/zram-config "start"
ExecStop=/usr/local/sbin/zram-config "stop"

[Install]
WantedBy=basic.target
