[Unit]
Description=zram-config
Documentation=https://github.com/ecdye/zram-config/blob/main/README.md

[Service]
Type=oneshot
TimeoutSec=300
RemainAfterExit=yes
ExecStop=/usr/local/sbin/zram-config "stop" "shutdown"

[Install]
WantedBy=basic.target
