[Unit]
Description=zram-config
Documentation=https://github.com/ecdye/zram-config/blob/main/README.md
After=local-fs.target zram-config-shutdown.service

[Service]
Type=exec
TimeoutSec=300
ExecStart=/usr/local/sbin/zram-config "start"

[Install]
WantedBy=basic.target
