[Unit]
Description=zram-config
Documentation=https://github.com/ecdye/zram-config/blob/main/README.md

[Service]
Type=exec
TimeoutSec=120
RemainAfterExit=yes
WorkingDirectory=/usr/local/lib/zram-config
ExecStart=/usr/local/sbin/zram-config "start"
ExecStop=/usr/local/sbin/zram-config "stop"

[Install]
WantedBy=multi-user.target
