name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: "ubuntu-latest"

    steps:
      - name: Import GPG key
        uses: crazy-max/ghaction-import-gpg@v3
        with:
          gpg-private-key: ${{ secrets.GPG_PRIVATE_KEY }}
          passphrase: ${{ secrets.GPG_PASSPHRASE }}
      - name: "Archive zram-config"
        run: |
          sudo apt get install lzip
          export tag="${GITHUB_REF/refs\/tags\//}"
          git archive --format=tar --prefix=zram-config-${tag}/ ${tag} -o zram-config-${tag}.tar
          lzip -9 --keep --verbose --verbose zram-config-${tag}.tar
          gpg --detach-sign --armor zram-config-${tag}.tar.lz
          gpg --verify zram-config-${tag}.tar.lz.asc zram-config-${tag}.tar.lz
          unset tag
        shell: bash
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            zram-config-*.tar.lz
            zram-config-*.tar.lz.asc
